body {
  background-color: #f0e5e9;
  font-family: Arial, Helvetica, sans-serif;
}

footer {
  background-color: white;
}

.nav-bar {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  gap: 2em;
}

.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-webs {
  list-style-type: none;
  display: flex;
  gap: 1em;
  padding: 0;
  overflow-x: scroll;
  li {
    width: 12em;
  }
}

.timeframe {
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 0.1em;
  border-radius: 10%;
  font-size: smaller;
}

.card-image {
  img {
    width: 12em;
  }
  position: relative;
  span {
    position: absolute;
    bottom: 10%;
    right: 3%;
  }
}

@media (max-width: 430px) {
  header {
    background-color: #6a0025;
  }
}

.search-bar {
}
